<%- contentFor('hero') %>
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Hello Node</h1>
  <p>Volutpat rutrum montes nisl metus potenti. Vivamus. Rhoncus pede purus mauris auctor placerat dictum orci interdum nibh vel facilisis ad. Lorem congue lorem. Penatibus, diam nostra quis sociosqu. Pretium lectus lorem. Mollis. Purus. Enim enim pede suspendisse dui tellus ultrices.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="/about" role="button">Learn More &raquo;</a>
  </p>
</div>
